absl-py==2.1.0
arrow==1.3.0
astunparse==1.6.3
audioread==3.0.1
cachetools==5.3.2
catppuccin-jupyterlab==0.2.0
chardet==5.2.0
contourpy==1.2.0
cycler==0.12.1
dataclasses==0.6
fastapi==0.85.2
ffmpeg==1.4
ffprobe==0.5
flatbuffers==23.5.26
fonttools==4.49.0
fqdn==1.5.1
gast==0.4.0
google-auth==2.28.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.60.1
h11==0.14.0
h5py==3.10.0
herpetologist==0.0.9
ipywidgets==8.1.2
isoduration==20.11.0
JLDracula==0.2.0
jsonpointer==2.4
jupyterlab_widgets==3.0.10
keras==2.11.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
lazy_loader==0.3
libclang==16.0.6
librosa==0.9.2
llvmlite==0.42.0
malaya-boilerplate==0.0.24
malaya-speech @ git+https://github.com/huseinzol05/malaya-speech.git@7c8c874dd644bb639285350d73549b9691a18a0a
Markdown==3.5.2
matplotlib==3.8.3
memoization==0.4.0
mkl-service==2.4.0
more-itertools==10.2.0
msgpack==1.0.7
numba==0.59.0
numpy==1.26.4
oauthlib==3.2.2
openai-whisper==20231117
opt-einsum==3.3.0
pooch==1.8.1
protobuf==3.19.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.11
pyctcdecode==0.1.0
pydantic==1.10.14
pydub==0.25.1
pygtrie==2.5.0
pyparsing==3.1.1
pypi-kenlm==0.1.20220713
python-speech-features==0.6
pywin32==305.1
requests-oauthlib==1.3.1
resampy==0.4.3
rsa==4.9
scikit-learn==1.4.1.post1
scipy==1.12.0
sentencepiece==0.2.0
soundfile==0.12.1
soxr==0.3.7
spectralcluster==0.1.0
starlette==0.20.4
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-addons==0.19.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.3.0
tiktoken==0.6.0
torch==2.1.0
torchaudio==2.2.0
torchdata==0.7.0
torchlibrosa==0.0.7
torchtext==0.16.0
torchvision==0.17.0
typeguard==4.1.5
types-python-dateutil==2.8.19.20240106
Unidecode==1.3.8
uri-template==1.3.0
uvicorn==0.19.0
webcolors==1.13
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.2.1
websockets==10.4
Werkzeug==3.0.1
widgetsnbextension==4.0.10
wrapt==1.16.0
